<div class="container">
  <h3>Review your order</h3>
  <ng-container *ngIf="order$ | async as order">
    <span></span>
    <table class="table table-hover caption-top">
      <caption>Detail of your order {{order.id}}</caption>
      <thead>
        <tr>
          <th>Item</th>
          <th>Unit Price</th>
          <th>Unit</th>
          <th>Quantity</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of (order$ | async)?.items">
          <td>{{item.name}}</td>
          <td>{{item.unitPrice}}</td>
          <td>{{item.unit}}</td>
          <td>{{item.quantity}}</td>
          <td>{{item.totalPrice}}</td>
        </tr>
      </tbody>
    </table>

    <div class="d-flex justify-content-center mt-3">
      <button (click)="submitOrder(order.id)" class="btn btn-primary"> Submit</button>
    </div>

  </ng-container>
</div>



