<div class="container">
  <h3>Cart</h3>
  <span *ngIf="items.size==0">You cart is empty</span>

  <ng-container *ngFor="let item of items | keyvalue">
    <app-item-in-cart
      [item]="item"
      (decrementEvent)="decrementItem($event)"
      (incrementEvent)="incrementItem($event)">
    </app-item-in-cart>
  </ng-container>
  <div class="d-flex justify-content-center mt-3">
    <button
      [disabled]="items.size == 0"
      (click)="goToOrderDetails()"
      class="btn btn-primary">
      Submit</button>
  </div>
</div>
